@font-face {
	font-family: Fira Code;
	src: url("/FiraCode-Regular.ttf");
}

:root {
	--dark: #1e1e1e;
	--light: #fffffe;
	--radius: 4px;
	--shadow: 0px 0px 5px 1px #21212150;
}

html, body, #app {
	width: 100%;
	height: 100%;
	background-color: var(--light);
}

@media (prefers-color-scheme:  dark) {
	html, body, #app {
		background-color: var(--dark);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Modal */
#marker-modal {
	top: 110vh;
	left: 50%;
	transform: translate(-50%, -50vh);
	width: 512px;
	text-align: center;
	background-color: var(--vscode-editorWidget-background);
	color: var(--vscode-editor-foreground);
	box-shadow: 0 0 10px 1px var(--vscode-widget-shadow);
	border-radius: calc(var(--radius) * 2);
	padding: 1rem;
	z-index: 99;
	transition: opacity 1s ease-out;
}

/* Status */
#marker-status {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	align-items: center;
	z-index: 99;
	padding: 0 16px;
	top: calc(100vh - 24px);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 24px;
	background-color: var(--vscode-editorWidget-background);
	color: var(--vscode-editorWidget-foreground);
	pointer-events: none;
}

#marker-status > .spacer {
	flex: 1;
}

#version-display {
	font-size: 12px;
	display: table-cell;
}

#status-notice {
	font-size: 12px;
	transition: opacity 1s ease-out;
}

.titlebar {
	height: 30px;
	background: var(--light);
	user-select: none;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.titlebar.titlebar-macos {
	justify-content: flex-start;
}

.titlebar-button {
	background: var(--light);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}

.titlebar-button:hover {
	filter: brightness(75%);
}

@media (prefers-color-scheme: dark) {
	.titlebar, .titlebar-button {
		background: var(--dark);
	}

	.titlebar-button > img {
		filter: invert(100%);
	}

	.titlebar-button:hover {
		filter: brightness(125%);
	}
}
